body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8f9fa;
}

.grid-layout {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
}


.header {
  grid-area: header;
  background-color: #1b396a; 
}

.sidebar {
  grid-area: sidebar;
  background-color: #e1ecf4; 
  border-radius: 5px;
}

.main {
  grid-area: main;
  background-color: #ffffff;
  border-radius: 5px;
}

.nav-link.active {
  font-weight: bold;
  color: #1b396a;
}

  .btn-comprar {
      background-color: #1b396a;
      color: white;
      border: none;
      transition: background-color 0.3s ease;
  }
  
  .btn-comprar:hover {
      background-color: #16325c;
  }
  
  .card {
      border: 1px solid #dee2e6;
      border-radius: 8px;
  }
  
  .card-title {
      font-weight: 600;
      color: #1b396a;
  }
  
  .card-text {
      font-size: 0.95rem;
  }
  
  .footer {
      grid-area: footer;
      background-color: #ffffff; 
      color: #000000;
    }